@charset "UTF-8";

body {
    background-image: linear-gradient(90deg,#333BEB,#151C6D,#0E1446);
}

main {
    background-color: #919cfc;
    text-align: justify;
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    width: 600px;
}

h1 {
    text-align: center;
}